.hidden {
    display: none;
}

.activeNv {
    background-color: cyan;
}

.height200 {
    height: 200px;
    overflow-y: scroll;
};

table {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}