.hidden {
    display: none;
}

.activeNv {
    background-color: cyan;
}

.height200 {
    height: 200px;
    overflow-y: scroll;
};

table {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 5px;
}
.grid-item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}